div.visit-landing-page
{
  max-width: 1280px;
  width: 100%;
  margin: auto;
  background: white;

  div.video-container
  {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 650px;
    overflow: hidden;

    @media only screen and (min-width: 786px)
    {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.video-box
    {
      width: 1280px;
      height: auto;
      max-height: 720px;
      overflow: hidden;

      @media only screen and (max-width: 768px)
      {
        width: 100%;
      }

      video.dynamic-video
      {
        width: 100%;
        height: auto;
      }
    }

    div.video-overlay
    {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      text-align: center;

      @media only screen and (min-width: 768px)
      {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      @media only screen and (max-width: 768px)
      {
        background: #e6e6e6;
      }

      div.top-content
      {
        h2.date-header
        {
          text-align: center;

          @media only screen and (min-width: 768px)
          {
            color: white;
            text-shadow: -2px 2px rgba(0,0,0,0.6);
          }

          @media only screen and (max-width: 768px)
          {
            color: #5cbd77;
          }
        }
      }

      div.button-container
      {
        max-width: 600px;
        display: flex;
        align-content: space-between;

        @media only screen and (max-width: 768px)
        {
          flex-flow: column;
        }

        a.green-button
        {
          background: rgb(92,189,119);
          text-transform: uppercase;
          color: white;
          border-radius: 50px;
          font-size: 19px;
          font-weight: 700;
          letter-spacing: 0.5px;
          padding: 0.5rem 1rem;

          @media only screen and (min-width: 768px)
          {
            margin: 0 1rem;
          }

          @media only screen and (max-width: 768px)
          {
            margin: 0.5rem;
          }

          &:hover
          {
            text-decoration: underline;
          }
        }
      }
    }
  }



  div.intro-text
  {
    background: #236192;

    @media only screen and (min-width: 768px)
    {
      padding: 2rem;

      @supports (display: grid)
      {
        display: grid;
        grid-template-columns: 150px auto;
        grid-gap: 1rem;
      }
    }

    @media only screen and (max-width: 768px)
    {
      padding: 1rem;
    }

    img
    {
      width: 150px;
      height: auto;
      margin: auto;
    }

    p, a
    {
      color: #fff;
      font-size: 19px;

      a
      {
        text-decoration: underline;

        &:hover
        {
          color: white;
        }
      }
    }
  }

  div.bottom-section
  {
    background: #e6e6e6;
    padding-top: 1rem;

    h2.mem-header
    {
      text-align: center;
      font-size: 30px;
      padding-bottom: 1rem;
    }

    div.memory-container {

      margin: 16px;

      @media only screen and (min-width: 768px)
      {
        max-width: 1280px;

        @supports (display: grid)
        {
          display: grid;
          grid-template-columns: repeat(auto-fit, 300px);
          grid-gap: 16px;
        }
      }

      div.memory
      {
        height: 450px;

        @media only screen and (min-width: 768px)
        {
          width: 300px;
        }

        @media only screen and (max-width: 768px)
        {
          margin: 1rem 0;
        }

        color: #fff;
        overflow: hidden;
        position: relative;

        &:not(.share-memory):hover
        {
          cursor: pointer;
        }

        &.share-memory
        {
          display: flex;
          align-content: center;
          justify-content: center;
          flex-flow: column;
          background: #fff;

          @media only screen and (max-width: 768px)
          {
            width: calc(100% - 1rem);
          }

          div.outer-circle
          {
            width: 175px;
            height: 175px;
            position: relative;
            border-radius: 50%;
            background-color: rgb(92,189,119);
            margin: 0 auto 2rem auto;

            div.chat-bubble
            {
              background-color: #fff;
              width: 100px;
              height: 65px;
              top: 52.5px;
              left: 37.5px;
              position: absolute;
              border-radius: 10px;

              &:after
              {
                content: '';
                display: block;
                position: absolute;
                height: 0;
                width: 0;
                border-top: 17.5px solid #fff;
                border-right: 20px solid transparent;
                left: 17.5px;
                bottom: -17.5px;
              }

              div.dot-holder
              {
                width: 75px;
                height: 7.5px;
                margin: auto;
                padding-left: 6px;
                margin-top: 22.5px;

                div.dot
                {
                  width: 15px;
                  border-radius: 50%;
                  margin: 3px;
                  height: 15px;
                  background-color: rgb(92,189,119);
                  float: left;
                  box-shadow: 0.5px 1px 1px rgba(0,0,0,0.75)
                }
              }
            }
          }

          a.green-button
          {
            background: rgb(92,189,119);
            margin: 0 1rem;
            text-transform: uppercase;
            color: white;
            border-radius: 15px;
            padding: 0.5rem 1rem;
            text-align: center;

            &:hover
            {
              text-decoration: underline;
            }
          }
        }

        img
        {
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-width: unset;
        }

        p
        {
          font-size: 24px;
        }

        &.story-mem
        {
          background: #5cbd77;
          color: white;
          transition: 0.2s ease-out;
          text-align: center;
          overflow: hidden;

          @media only screen and (min-width: 768px)
          {
            padding: 2rem 2rem 4rem 2rem;
          }

          @media only screen and (max-width: 768px)
          {
            width: calc(100% - 3rem);
            padding: 1rem;
          }

          div.fade-container
          {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            color: #fff;

            &:after
            {
              position: absolute;
              content: '';
              display: block;
              background: linear-gradient(transparent, #5cbd77);
              z-index: 1;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        &.both-mem
        {
          @media only screen and (max-width: 768px)
          {
            width: calc(100% - 1rem);
          }

          div.hover-story
          {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: none;
            background: rgb(92,189,119);
            transition: 0.2s ease-out;
            text-align: center;

            @media only screen and (min-width: 768px)
            {
              padding: 2rem 2rem 4rem 2rem;
            }

            @media only screen and (max-width: 768px)
            {
              width: calc(100% - 2rem);
              padding: 1rem;
            }

            div.fade-container
            {
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;
              color: #fff;

              &:after
              {
                position: absolute;
                content: '';
                display: block;
                background: linear-gradient(transparent, #5cbd77);
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
              }
            }
          }

          &:hover
          {
            div.hover-story
            {
              display: block;
            }
          }
        }
      }
    }
  }
}

#content.microsite
{
  margin: 0 !important;
  width: 100% !important;
}

#side-nav
{
  display: none;
}

.userMarkup
{
  @media only screen and (min-width: 768px)
  {
    padding: 0!important;
  }

  @media only screen and (max-width: 768px)
  {
    padding: 20px 0 !important;
  }

  margin-top: -1rem!important;
}

#column-container-1
{
  width: 100%;
  max-width: unset;
  margin: 0;
}

#content-wrapper
{
  margin-top: -8px;
}

#outer-container, #inner-container
{
  background: #f6f6f6!important;
}

.noMastHead #content.microsite, .microsite.noMastHead #content.microsite
{
  margin-top: 0 !important;
}

.microsite-ctas-wrapper
{
  z-index: 1000;
}

.remodal
{
  max-width: 768px;

  p
  {
    text-align: left;
  }

  br
  {
    line-height: 3;
  }
}